# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Python bytecode cache
__pycache__/

# SQLite database and journal files
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

